asgiref
certifi
charset-normalizer
contourpy
cycler
Django
django-cors-headers
djangorestframework
filelock
fonttools
fsspec
idna
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
packaging
pillow
pyparsing
python-dateutil
requests
six
sqlparse
sympy
torch
torchvision
typing_extensions
tzdata
urllib3
